body{
    background: white url("images/background.jpg");
}

.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Dancing Script', cursive;
}


.modelButton{
    position:absolute;
    bottom:1vw;
    right:1vw;
}

.profilePicHome{
    display: inline-block;
    position:relative;
    top:0vw;
    left:30vw;
    width: 30vw;
}
