{% extends 'user/base.html' %}
{% block body %}
<!--<img src="{{ friend.profile_picture.url }}" style="width: 30vw;">-->


    <!--# ['prof',-->
    <!--#  'logentry',-->
    <!--#  'id',-->
    <!--#  'password',-->
    <!--#  'last_login',-->
    <!--#  'is_superuser',-->
    <!--#  'username',-->
    <!--#  'first_name',-->
    <!--#  'last_name',-->
    <!--#  'email',-->
    <!--#  'is_staff',-->
    <!--#  'is_active',-->
    <!--#  'date_joined',-->
    <!--#  'groups',-->
     <!--# 'user_permissions']-->
 <form action="{% url 'user:user-update' prof.id %}" method="post" sytle="display: inline">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{prof.id}}">
                    <button type="submit" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
 </form>

    <div class="form-group">
        {% if prof.profile_picture%}
            <img src="{{ prof.profile_picture.url }}" style="width: 30vw;">
        {% endif %}

        <div class="col-sm-offset-2 col-sm-10"></div>
        <label class="control-label col-sm-2">username:</label>
        <div class="col-sm-10" >{{ prof.user.username }} </div>

        <div class="col-sm-offset-2 col-sm-10"></div>
        <label class="control-label col-sm-2">id:</label>
        <div class="col-sm-10" >{{ prof.user.id }} </div>

        <div class="col-sm-offset-2 col-sm-10"></div>
        <label class="control-label col-sm-2"> name:</label>
        <div class="col-sm-10" >{{ prof.user.first_name }} {{ prof.user.last_name }}</div>

        <div class="col-sm-offset-2 col-sm-10"></div>
        <label class="control-label col-sm-2">email:</label>
        <div class="col-sm-10" >{{ prof.user.email }} </div>

        <div class="col-sm-offset-2 col-sm-10"></div>
        <label class="control-label col-sm-2">bio:</label>
        <div class="col-sm-10" >{{ prof.bio }} </div>

        <div class="col-sm-offset-2 col-sm-10"></div>
        <label class="control-label col-sm-2">handle:</label>
        <div class="col-sm-10" >{{ prof.handle }} </div>

    </div>
<!--TODO: add picture uploading here-->








<!-- Trigger the modal with a button -->
<span><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">View Pictures</button></span>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">pictures for {{ prof.handle }}</h4>
      </div>

      <div class="modal-body">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for pic in prof.pic_set.all %}
                    {% if not pic.pic_publicity %}

                    {% else %}
                        {% if forloop.counter == 1 %}
                            <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                        {% else %}
                            <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {% with first=1 %}{% endwith %}
                <!--figure something out with this later-->
                {% for pic in prof.pic_set.all %}
                    {% if not pic.pic_publicity %}
                    {% else %}
                    {% if forloop.counter == 1 %}
                            <div class="item active">
                        {% else %}
                            <div class="item">
                        {% endif %}
                        <div class="carousel-caption">
                            <h3>{{ pic.pic_name }}</h3>
                        </div>
                        <img src="{{ pic.picture.url }}" alt="Image" style="width:100%; display: block; margin-left: auto; margin-right: auto;">

                        {% if forloop.counter == 1 %}
                            </div>
                        {% else %}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


{% endblock %}