{% extends 'user/base.html' %}
{%block title%}Friendr{%endblock%}

{% block body %}
{{ log_prof.dontprint }}<br>



{% if all_users %}
    <ul>
        {% for user in all_users %}
            <li><a href="{% url 'user:details' user.id %}">{{ user }}</a>
                <br>&nbsp&nbsp&nbsp&nbsp id: {{user.id}}
                {% if user.prof.profile_picture%}
                    <div style="position: relative;">
                        <img src="{{ user.prof.profile_picture.url }}" style="width: 30vw" >
                    </div>
                {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <h3>No users listed</h3>
{% endif %}
{% endblock %}