{% extends 'user/base.html' %}
{% block title %}Add a New Picture{% endblock %}
{% block users_active %}active{% endblock %}
{% load widget_tweaks %}

{% block body %}
pic_form
<div class="container-fluid">
    <div class="col-sm-12 col-md-7">
        <div class="panel panel-default">
            <div class="panel-body">

                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="hidDiv">
                    {% render_field form.prof class="form-control" %}
                    </div>
                    {% render_field form.pic_desc class="form-control" placeholder="Description" %}
                    {% render_field form.pic_name class="form-control" placeholder="Name" %}
                    {% render_field form.pic_publicity class="form-control" placeholder="Publicity" selected=log_prof.privacy %}
                    {% render_field form.picture class="form-control" placeholder="picture" value=picture %}

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <input type="button" name="recommend" class="btn btn-success" value="Recommend" onclick="recFunc()">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>

function recFunc() {
    var debug = document.getElementById('id_pic_name');
    var pic_prev = document.getElementById('id_pic_publicity').value //this is an example of how to get data from the text field into the parsing
    $.ajax({
        url: '/../../processRec/',
        data: {
          'user_preference': {{log_prof.privacy_level}},
          'sentiment': 1,
          'sensitivity': 2,
          'relationship': 3,
          'fieldData': pic_prev
        },
        dataType: 'json',
        success: function (data) {
            recValue = data.rec;
            var ddl = document.getElementById('id_pic_publicity');
            var opts = ddl.options.length;
            for (var i=0; i<opts; i++){
                if (ddl.options[i].value == String(recValue)){
                    ddl.options[i].selected = true;
                    break;
                }
            }
        }
      });
};



</script>


{% endblock %}

document.getElementById("recButton").onclick = function() {}
document.addEventListener("click", function(){});
<!--below is how to change the selected-->

    <!--var ddl = document.getElementById('id_pic_publicity');-->
    <!--var opts = ddl.options.length;-->
    <!--for (var i=0; i<opts; i++){-->
        <!--if (ddl.options[i].value == "2"){-->
            <!--ddl.options[i].selected = true;-->
            <!--break;-->
        <!--}-->
    <!--}-->


<!--{% include 'user/form-template.html' %}-->