{%extends 'user/base.html'%}
{%block title%}Add a New Prof{%endblock%}
{%block users_active%}active{%endblock%}

{%block body%}

<!--old shit-->
prof_form
{% if log_prof.user.id == user.id %}
    <div class="col-sm-12 col-md-7">
        <div class="panel panel-default">
            <div class="panel-body">

                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'user/form-template.html' %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <input type="button" class="btn btn-success" value="Edit more" onclick="window.location.href='{% url 'user:priv-user-update' log_prof.user.id %}'" />
                            <input type="button" class="btn btn-success" value="Cancel" onclick="window.location.href='{% url 'user:details' log_prof.user.id %}'" />
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% else %}
    {%include "user/404"%}
{% endif %}
{%endblock%}


{{ log_prof.user.id }} <br>
{{ user.id }}<br>
 {% if log_prof.user.id == user.id %}
    {{form.as_p}}
    <input type="button" class="btn btn-success" value="Edit more" onclick="window.location.href='{% url 'user:priv-user-update' log_prof.user.id %}'" />
    <input type="button" class="btn btn-success" value="Cancel" onclick="window.location.href='{% url 'user:details' log_prof.user.id %}'" />
  {% else %}
    {%include "user/404"%}
{% endif %}
