{%extends 'user/base.html'%}
{%block title%}register{%endblock%}

{% load custom_tags %}

{%block body%}
this is the user form<br>
<!--{{ log_prof.user.id }}<br>-->
<!--{{ user.id }}<br>-->
{% if log_prof.user.id == user.id %}
<div class="container-fluid">

    <div class="col-sm-12 col-md-7">
        <div class="panel panel-default">
            <div class="panel-body">

                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'user/form-template.html' %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">save</button>
                             <input type="button" class="btn btn-success" value="Edit less" onclick="window.location.href='{% url 'user:user-update' log_prof.user.id %}'" />
                             <input type="button" class="btn btn-success" value="Cancel" onclick="window.location.href='{% url 'user:details' log_prof.user.id %}'" />
                             <input type="button" class="btn btn-success" value="delete" onclick="window.location.href='{% url 'user:user-delete' log_prof.user.id %}'" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
    {%include "user/404"%}
{% endif %}
{%endblock%}